/demo1/.marscode
/demo1/.vscode
/demo1/build
/demo1/tmp
/demo2/.marscode
/demo2/.vscode
/demo2/build
/demo2/tmp
/demo2/src/library
/demo3/.marscode
/demo3/.vscode
/demo3/build
/demo3/tmp
/demo3/src/library
/demo4/.marscode
/demo4/.vscode
/demo4/build
/demo4/tmp
/demo4/src/library
/demo5/.marscode
/demo5/.vscode
/demo5/build
/demo5/tmp
/demo5/bin
/demo5/install
./vscode
